.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  @font-face {
    font-family: Open-Sans;
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
  }

  body {
    font-family:Open-Sans, sans-serif;
  }

  h1 {
    color:white; 
    margin-top:5%; 
    font-weight:bold;
  }

  p {
    color:white; 
  }

  h3 {
    color:white;
  }
  .centerInLine{
    margin-left:20%; 
    margin-right:20%
  }
  .container {
    min-height:90vh;
    min-width:90vw;
  }
  .half {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50%;
 }
  .padding-0{
    padding-right:0 !important;
    padding-left:0 !important;
}

  .chatroom {
    height:77vh;  
    width:65vw;
    overflow-y:auto;
    overflow-x:hidden;
    background-color:#410E25; 
    border-radius:50px;
  }
  
  .chatroom .messages-chatroom .message {
    display:flex;
    align-items: center;
    margin-bottom: 8px;
    
  }
  
  .chatroom .messages-chatroom .text {
    margin: 0 15px;
    background-color: #D84A68;
    padding: 15px;
    border-radius: 12px;
    color:white;
    max-width:50%;
  }
  
  
  .time {
    font-size: 10px;
    color:white;
    margin-bottom:10px;
    margin-left: 1.5vw !important;
    }
  
  .user-time {
    float: left;
  }
  
  .user {
    float: right;
    margin-right: 1.5vw !important;
    margin-left:auto; /* flexbox alignment rule */
  }
  .user .text {
    background-color: #D84A68 !important;
    
  }
  
  .response-time {
    float: left;
  }
  
  .response {
    float: left;
    margin-left: .75vw !important;
    margin-right:auto; /* flexbox alignment rule */
  }
  
  .response .text {
    background-color: #652743 !important;
  }

  .footer-chat {
    width: 65vw;
    height:6.5vh;
    display:flex;
    align-items: center;
    top:-85%;
    margin-top:10px;
    background-color: #fff;
  }
  
  .write-message {
    border:none !important;
    width:97%;
    margin-left:1%;  
    margin-top:1%;
  }
  
  .row .chat{
    padding-top:1vh;
    padding-bottom:1vh;
    
  }

  